<div class="wrapper">
  <div class="row">
    <section class="aboutMeCard">
      <div class="card aboutMe">
        <h5 class="card-header aboutMeHeader">.aboutMe( )</h5>
        <div class="card-body">
          <p class="card-text">
            Full Stack Software Engineer and Certified Scrum Master with a
            certificate in Full Stack Development from Northwestern University.
            An accomplished leader with 11+ years of experience in operational
            management/processes and 6+ years in Customer Success. Experience
            spans seed stage start-ups to large sized companies. Contributing
            keen insights to delivery of client needs and market demands, while
            building and scaling teams. Adept at analyzing relevant information
            and adjusting work procedures to achieve a proven track record of
            the highest standard of excellence in customer service and
            processes. Proficient and knowledgeable in languages such as
            JavaScript, CSS, HTML, Bootstrap, and jQuery. Motivated by learning
            and passionate about overcoming organizational blocks to maximize
            results
          </p>
          <!-- CONTACT ME ICONS -->
          <div class="btnFormatting">
            <a
              href="https://www.linkedin.com/in/nataliefinnegan/"
              target="_blank"
              class="btn btn-secondary icons"
            ><i class="fab fa-linkedin-in"></i></a>
            <a
              href="https://github.com/nfinnegan"
              target="_blank"
              class="btn btn-secondary icons"
            ><i class="fab fa-github"></i></a>
            <a
              href="mailto:nfinneg2@gmail.com"
              target="_blank"
              class="btn btn-secondary icons"
            ><i class="fas fa-envelope-open-text"></i></a>
            <a
              href="https://twitter.com/FinneganNatalie"
              target="_blank"
              class="btn btn-secondary icons"
            ><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section>
    <h1 class="skills"><i class="fas fa-laptop-code"></i>.skills( )
    </h1>
    <hr />
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <ul class="skillsList" id="skills">
          <li class="skillsItem"><img
              class="img-fluid skill-img"
              src="/icons/html2.png"
              alt="htmlIcon"
            /></li>
          <li class="skillsItem"><img
              class="img-fluid skill-img"
              src="/icons/css.png"
              alt="cssIcon"
            /></li>
          <li class="skillsItem"><img
              class="img-fluid skill-img jsImg"
              src="/icons/js1.png"
              alt="jsIcon"
            /></li>
          <li class="skillsItem"><img
              class="img-fluid skill-img bootImg"
              src="/icons/mongodb.png"
              alt="bootstrapIcon"
            /></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <ul class="skillsList">
          <li class="skillsItem"><img
              class="img-fluid skill-img"
              src="/icons/node.png"
              alt="nodeIcon"
            /></li>
          <li class="skillsItem"><img
              class="img-fluid skill-img"
              src="/icons/express.png"
              alt="expressIcon"
            /></li>
          <li class="skillsItem"><img
              class="img-fluid skill-img jsImg"
              src="/icons/mysql.png"
              alt="jsIcon"
            /></li>
          <li class="skillsItem"><img
              class="img-fluid skill-img bootImg"
              src="/icons/react.png"
              alt="bootstrapIcon"
            /></li>
        </ul>

      </div>
    </div>
  </section>
  <section>
    <h1 class="skills"><i class="fas fa-tools"></i>{tools}
    </h1>
    <hr />
    <div class="row toolsCards">
      <div class="col-sm-12 col-md-6 toolCol">
        <div class="card toolCard">
          <div class="card-header toolHeader">
            Tools For Creating:
          </div>
          <ul class="createList">
            <li class="createItem"><img src="/icons/vs-code.png" atl="vsCode" />
            </li>
            <li class="createItem"><img class="miroIcon" src="/icons/miro.png" atl="miro"></li>
            <li class="createItem"><img class="gitHubIcon" src="/icons/github1.png" atl="gitHub"></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 toolCol">
        <div class="card toolCard">
          <div class="card-header toolHeader">
            Tools For Communication:
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</div>