<section>

  <div class="row">
    <div class="col-md-8">
      <div class="nannyNow">
        <img
          class="img-fluid projPix"
          id="nannyNowPic"
          src="/images/nannynow.png"
          alt="nannyNowScreenShot"
        />

      </div>
    </div>
    <div class="col-md-4 nannyNowInfo">
      <h2 class="projTitle">Nanny Now</h2>
      <hr />
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, libero.
        Magnam ut sed quos doloremque deleniti quaerat asperiores dignissimos
        labore, itaque cum quo aut voluptates, corporis minus sint quisquam in.</p>
      <br />
      <h2 class="projTitle">Technologies</h2>
      <hr />
      <p>test</p>
      <button type="button" class="projBtns"><a
          class="projLinks"
          target="_blank"
          href="https://github.com/nfinnegan/nanny-now"
        >GitHub</a></button>
      <button type="button" class="projBtns"><a
          class="projLinks"
          target="_blank"
          href="https://murmuring-stream-65661.herokuapp.com/"
        >Deployed App</a></button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 foodieInfo">
      <h2 class="projTitle">Fridge Foodie</h2>
      <hr />
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, libero.
        Magnam ut sed quos doloremque deleniti quaerat asperiores dignissimos
        labore, itaque cum quo aut voluptates, corporis minus sint quisquam in.</p>
      <br />
      <h2 class="projTitle">Technologies</h2>
      <hr />
      <p>test</p>
      <button type="button" class="projBtns"><a
          class="projLinks"
          target="_blank"
          href="https://github.com/nfinnegan/FridgeFoodieRecipes"
        >GitHub</a></button>
      <button type="button" class="projBtns"><a
          class="projLinks"
          target="_blank"
          href="https://agrassl.github.io/FridgeFoodieRecipes/index.html"
        >Deployed App</a></button>
    </div>
    <div class="col-md-8">
      <div class="fridgeFood">
        <img
          class="img-fluid projPix"
          id="fridgeFoodiePic"
          src="/images/fridgefoodie.png"
          alt="frdigefoodieScreenShot"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="techBlog">
        <img
          class="img-fluid projPix"
          id="techBlogPic"
          src="/images/techblog.png"
          alt="techBlogScreenShot"
        />

      </div>
    </div>
    <div class="col-md-4 techBlogInfo">
      <h2 class="projTitle">Tech Blog</h2>
      <hr />
      <p>
        test information test information test information test information test
        information
      </p>
      <br />
      <h2 class="projTitle">Technologies</h2>
      <hr />
      <p>test</p>
      <button type="button" class="projBtns"><a
          class="projLinks"
          target="_blank"
          href="https://github.com/nfinnegan/tech_blog"
        >GitHub</a></button>
      <button type="button" class="projBtns"><a
          class="projLinks"
          target="_blank"
          href="https://calm-badlands-36882.herokuapp.com/"
        >Deployed App</a></button>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4 teamGenInfo">
      <h2 class="projTitle">Team Generator</h2>
      <hr />
      <p>
        test information test information test information test information test
        information
      </p>
      <br />
      <h2 class="projTitle">Technologies</h2>
      <hr />
      <p>test</p>
      <button type="button" class="projBtns"><a
          class="projLinks"
          target="_blank"
          href="https://github.com/nfinnegan/TeamProfile_Generator"
        >GitHub</a></button>
      <button type="button" class="projBtns"><a
          class="projLinks"
          target="_blank"
          href="https://www.youtube.com/watch?v=rUu5AgAt_Ko"
        >Video Demo</a></button>
    </div>
    <div class="col-md-8">
      <div class="teamGen">
        <img
          class="img-fluid projPix"
          id="teamGenPic"
          src="/images/teamgen.png"
          alt="teamGeneratorScreenShot"
        />

      </div>
    </div>

  </div>
  <hr />
  <br />
  <br />

  <div class="row">
    <div>
      <button type="button" class="projBtns"><a
          class="projLinks"
          alt="back to home"
          href="/"
        >Go Back</a></button>
    </div>
  </div>
</section>