<section>

  <div class="row">
    <div class="col-md-8">
      <div class="nannyNow">
        <img
          class="img-fluid projPix"
          id="nannyNowPic"
          src="/images/nannynow.png"
          alt="nannyNowScreenShot"
        />

      </div>
    </div>
    <div class="col-md-4 nannyNowInfo">
      <h2 class="projTitle">Nanny Now</h2>
      <hr />
      <p>Nanny Now is an application that aims to connect parents with qualified
        childcare. Upon signing up or logging in, user authentication will then
        give the user access and ability to search for nannies. Current
        available cities are Chicago and Denver. Used Express.js to build our
        RESTful APis as well as to connect to mySQL database using sequelize.
        Application is hosted on Heroku with a database.
      </p>
      <br />
      <h2 class="projTitle">Technologies</h2>
      <hr />
      <div class="ulWrapper">
        <ul>
          <li>JavaScript</li>
          <li>Bootstrap</li>
          <li>Express/Express-session</li>
          <li>Node</li>
        </ul>
        <ul>
          <li>Handlebars</li>
          <li>Sequelize</li>
          <li>mySQL</li>
          <li>APIs</li>
        </ul>

      </div>
      <button type="button" class="projBtns"><a
          class="projLinks"
          target="_blank"
          href="https://github.com/nfinnegan/nanny-now"
        >GitHub</a></button>
      <button type="button" class="projBtns"><a
          class="projLinks"
          target="_blank"
          href="https://murmuring-stream-65661.herokuapp.com/"
        >Deployed App</a></button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 foodieInfo">
      <h2 class="projTitle">Fridge Foodie</h2>
      <hr />
      <p>For food lovers or those less confident in the kitchen, Fridge Foodie
        allows a user search recipes based off 3 ingredients they've entered as
        well as any dietary restriction selected. Based on the given parameters,
        it makes a call to Edamam and Spoonacular, two client side APIs to
        display food and drink pairings matching the input.
      </p>
      <br />
      <h2 class="projTitle">Technologies</h2>
      <hr />
      <div class="ulWrapper">
        <ul>
          <li>JavaScript</li>
          <li>Bootstrap</li>
          <li>jQuery</li>
          <li>Animate.css</li>
          <li>APIs</li>
        </ul>
      </div>
      <button type="button" class="projBtns"><a
          class="projLinks"
          target="_blank"
          href="https://github.com/nfinnegan/FridgeFoodieRecipes"
        >GitHub</a></button>
      <button type="button" class="projBtns"><a
          class="projLinks"
          target="_blank"
          href="https://agrassl.github.io/FridgeFoodieRecipes/index.html"
        >Deployed App</a></button>
    </div>
    <div class="col-md-8">
      <div class="fridgeFood">
        <img
          class="img-fluid projPix"
          id="fridgeFoodiePic"
          src="/images/fridgefoodie.png"
          alt="frdigefoodieScreenShot"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="techBlog">
        <img
          class="img-fluid projPix"
          id="techBlogPic"
          src="/images/techblog.png"
          alt="techBlogScreenShot"
        />

      </div>
    </div>
    <div class="col-md-4 techBlogInfo">
      <h2 class="projTitle">Tech Blog</h2>
      <hr />
      <p>
        Utilizes the MVC architectural structure for the front and backend build
        out of a tech blog site where a user can create a post, update or delete
        their post, and also comment on other users posts. Hosted on Heroku with
        a database and uses user authentication and as well as cookies.
      </p>
      <br />
      <h2 class="projTitle">Technologies</h2>
      <hr />
      <div class="ulWrapper">
        <ul>
          <li>JavaScript</li>
          <li>Bootstrap</li>
          <li>Express/Express-session</li>
          <li>Node</li>
        </ul>
        <ul>
          <li>Handlebars</li>
          <li>Sequelize</li>
          <li>mySQL</li>
          <li>APIs</li>
        </ul>
      </div>
      <button type="button" class="projBtns"><a
          class="projLinks"
          target="_blank"
          href="https://github.com/nfinnegan/tech_blog"
        >GitHub</a></button>
      <button type="button" class="projBtns"><a
          class="projLinks"
          target="_blank"
          href="https://calm-badlands-36882.herokuapp.com/"
        >Deployed App</a></button>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4 teamGenInfo">
      <h2 class="projTitle">Team Generator</h2>
      <hr />
      <p>
        This CLI application dynamically generates an HTML file displaying team
        members based off user input using the inquirer NPM package.

      </p>
      <br />
      <h2 class="projTitle">Technologies</h2>
      <hr />
      <div class="ulWrapper">
        <ul>
          <li>JavaScript</li>
          <li>Inquirer</li>
          <li>Jest</li>
          <li>Node</li>
        </ul>
        <ul>
          <li>TDD</li>
          <li>Bootstrap</li>
        </ul>
      </div>
      <button type="button" class="projBtns"><a
          class="projLinks"
          target="_blank"
          href="https://github.com/nfinnegan/TeamProfile_Generator"
        >GitHub</a></button>
      <button type="button" class="projBtns"><a
          class="projLinks"
          target="_blank"
          href="https://www.youtube.com/watch?v=rUu5AgAt_Ko"
        >Video Demo</a></button>
    </div>
    <div class="col-md-8">
      <div class="teamGen">
        <img
          class="img-fluid projPix"
          id="teamGenPic"
          src="/images/teamgen.png"
          alt="teamGeneratorScreenShot"
        />

      </div>
    </div>

  </div>
  <hr />
  <br />
  <br />

  <div class="row">
    <div>
      <button type="button" class="projBtns"><a
          class="projLinks"
          alt="back to home"
          href="/"
        >Go Back</a></button>
    </div>
  </div>
</section>