<section class="container">

  <div class="row">
    <div class="col-md-6">
      <div class="nannyNow">
        <img
          class="img-fluid"
          id="nannyNowPic"
          src="/images/nannynow.png"
          alt="nannyNowScreenShot"
        />

      </div>
    </div>
    <div class="col-md-6 nannyNowInfo">
      <h2 class="projTitle">Nanny Now</h2>
      <hr />
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, libero.
        Magnam ut sed quos doloremque deleniti quaerat asperiores dignissimos
        labore, itaque cum quo aut voluptates, corporis minus sint quisquam in.</p>
      <br />
      <h2 class="projTitle">Technologies</h2>
      <hr />
      <p>test</p>
    </div>

    <div class="row">

    </div>
  </div>
</section>