body {
  margin-bottom: 100px;
  background-color: #e0e1dd;
}

header {
  background-color: black;
  padding-bottom: 25px;
}
.wrapper {
  padding: 1rem;
}
/* PHOTO WRAPPED WITH NAME & JOB TO FORMAT */
.nameJob {
  padding-left: 30px;
}
/* NAME & JOB TITLE IN HEADER WRAPPED, SO I CAN FORMAT TOGETHER */
.inline {
  display: inline-block;
  position: relative;
  top: 35px;
  left: 15px;
  font-family: "Lato", sans-serif;
  color: white;
}

/* MAKING MY PERSONAL PHOTO AN AVATAR */
.personalImage {
  border-radius: 75px;
  height: 150px;
  width: 150px;
}

/* RESUME BUTTON FORMATTING IN HEADER */
.site-headerUL {
  float: right;
  position: relative;
  top: 55px;
  right: 15px;
  display: inline-flex;
}

.nav-li,
.skillsList {
  list-style: none;
}

.skillsList {
  display: -webkit-box;
  position: relative;
  right: 55px;
}

.jsImg,
.bootImg {
  width: 50%;
  margin-top: 10px;
}

.nav-a {
  color: white;
  padding: 10px;
}

.nav-li:hover {
  font-size: large;
}

.nav-a:hover {
  font-weight: bold;
  color: indianred;
}

/* STYLING THE CONTACT ME ICONS TWITTER,LINKED,GITHUB, ETC */
.icons {
  background-color: #e0e1dd;
  border-color: white;
  color: black;
}

.icons:hover {
  transform: scale(1.25);
}

.projPix:hover {
  transform: scale(1.1);
}

.nav {
  font-family: "Montserrat", sans-serif;
  position: relative;
  bottom: 100px;
}
/* ABOUT ME SECTION STYLING/FORMATTING */
.aboutMeHeader {
  font-size: 36pt;
}

.aboutMe,
.skills {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 40px;
}

.skills {
  text-align: center;
  font-size: 45pt;
  margin-top: 100px;
}

.skill-img {
  max-width: 50%;
  height: auto;
  padding-top: 60px;
}

.toolsCards {
  margin-top: 40px;
  font-family: "Source Sans Pro", sans-serif;
}

.toolHeader {
  font-size: 20pt;
  font-weight: bold;
}

.createList {
  list-style: none;
  display: inline-flex;
  justify-content: space-evenly;
}

.miroIcon,
.gitHubIcon {
  width: 50px;
  margin-top: 8px;
}

.listIcons2 {
  width: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.btn {
  border-radius: 50px;
  margin: 0px 15px;
}

/* styling github repo and live application a tags to now show up as typical links */
.appBtns {
  color: white;
  text-decoration: none;
}
/* styling on the actual buttons  */
.btnColor {
  background-color: #404040;
}

button:hover,
a:hover {
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

#nannyNowPic,
#fridgeFoodiePic,
#techBlogPic,
#teamGenPic {
  width: 700px;
  height: auto;
  margin-top: 75px;
}

.projTitle {
  color: #e26d5c;
}
.nannyNowInfo,
.foodieInfo,
.techBlogInfo,
.teamGenInfo {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 75px;
}

.projBtns {
  border-radius: 15px;
  margin: 5px;
  font-family: "Source Sans Pro", sans-serif;
  background-color: black;
  font-size: 16pt;
  font-weight: bold;
}

.projPix {
  border-radius: 5px;
  box-shadow: 0px 0px 23px 3px rgb(0 0 0 / 20%);
}

.projLinks {
  color: #e26d5c;
}
/* styling all cards with a border */
.mb-3 {
  border-style: solid;
  border-color: #1b263b;
  border-width: 2px;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 5px 5px #0d1b2a;
}
.weatherImage {
  width: 300px;
  height: 200px;
}

.navbar {
  background-color: black;
}

/* @media (min-width: 375px) {
  .skillsList {
    display: block;
    width: 55%;
    position: relative;
    left: 55px;
  }
} */

@media (max-width: 768px) {
  .site-headerUL {
    float: none;
    position: absolute;
    display: block;
    top: 15px;
  }
  .nav-li {
    padding: 5px;
  }

  .personalImage {
    position: relative;
    top: 15px;
  }

  .inline {
    padding-bottom: 15px;
    margin-left: 27px;
  }

  .skillsList {
    position: relative;
    left: 5px;
  }

  /* .toolsCards {
    margin-top: 40px;
  } */

  .toolHeader {
    font-size: 14pt;
    font-weight: bold;
  }
  .toolCol {
    /* height: 200px;
    width: 300px; */
    margin-bottom: 20px;
  }

  .latestProjCard {
    margin-top: 20px;
  }
  .display-4 {
    font-size: 2.5rem;
  }
  .btnFormatting {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: 414px) {
  .skillsList {
    display: block;
    width: 55%;
    position: relative;
    left: 55px;
  }

  .skillsItem {
    width: 150px;
    height: 150px;
  }

  .toolHeader {
    font-size: 14pt;
    font-weight: bold;
  }
  /* .toolsCards {
    margin-top: 40px;
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
  } */
}

@media (max-width: 1024px) {
  .toolHeader {
    font-size: 14pt;
    font-weight: bold;
  }
}
